.informacoes1{
    width: 40%;
    height: auto;
    margin-top: 50px;
    display: inline-block;
}

.informacoes2{
    width: 50%;
    margin-top: -50px;
    margin-left: 50px;
    display: inline-block;
}

.imgMap{
	float: right;
	max-width: 800px;
	height: auto;
	margin-right: 10px;
}

.imgIcon{
	float: initial;
	max-width: 40px;
	height: auto;
	margin-right: 10px;
}

 .clearfix::after{
    content: "";
    clear: both;
    display: table;
    margin-bottom: 30px;
  }