
/*CSS para configuração da barra de navegação*/
.unorderedListNav{
    list-style-type: none; /*marcas para cada item */ 
    overflow: hidden; /*configuracao para quando ultrapassar o limite de espaço*/
    background-color: rgb(56, 137, 76);
    border-radius: 5px;
    float: none;
}

.listItemNav{
    float: left; /*orientacao para esquerda*/
    border-right: 1px solid #bbb;
}

.listItemNav:last-child{
    border-right: none;
}

.listItemNav a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

.listItemNav a:hover{
    background-color: rgb(152, 197, 73);
}

/*Imagem dos produtos*/
.produtosPagina{
    float: none;
    margin-bottom: 100px;
}


img.header{
    width: 100%;
    height: auto;
}
/* ------------------------------------------ */

/*Imagem do topo da pagina*/
img.header{
    width: 100%;
    margin-bottom: -10px;
    height: auto;
}
/* ---------------------- */


/*Footer da pagina*/
.footer {
    background-color: rgb(152, 197, 73);
    padding: 10px;
    text-align: center;
    height: 70px;
}
/* -------------  */


/*Padrões de escrita normal*/
h1, p, ul{ 
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(80,80,80);
}

p{
    font-size:1.05em;
    line-height: 1.6;
    margin: 0px 0px 10px;
}
/* ----------------------- */


/*Box da pagina (container de conteudo)*/
  .content {
    max-width: 1200px;
    background: white;
    text-align: justify;
    padding: 20px;
     min-height: 100%;
     margin: 0 auto -70px;
  }
  /* --------------------------------- */
html, body {
  height: 100%;
  margin: 0;
}