 /*Css para os produtos disponíveis*/

 /*Como há elementos usando float em nosso container, usamos o clearfix para
 não deixar que ocorra um "Overflow" das coisas. Com Overflow entenda-se: 
 uma imagem grande, que vai invadir outra parte do código*/
.clearfix::after {
  content: "";
  clear: both;
  overflow: auto;
  display: table;
}

/*Coloca a imagem do lado esquerdo, permitindo que os escritos fiquem
do lado direito*/
.imgLeft {
  float: left;
  padding-right: 20px;
}

h2 { 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgb(80,80,80);
}

button {
  border-radius: 2.5px;
}