  /*Modelo clearfix para comportar uma imagem a esqerda seguida por texto*/
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 30px;
  }

  .imgRight {
    float: right;
    margin-left: 20px;

  }

  .imgLeft {
    float: left;
    padding-right: 20px;
  }

  .imgCenter{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
/* ---------------------------------------------------------------------- */